.contact-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre elementos */
    max-width: 400px;
    margin: 0 auto;
    justify-content: flex-start;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre icono y texto */
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-item:hover {
    transform: scale(1.05);
}

.contact-item img {
    width: 30px;
    height: 30px;
}

.contact-item h3 {
    margin: 0;
    font-size: 18px;
}

.contact-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.contact-item a:hover {
    color: #0077cc;
}